.content__cards {
  margin-bottom: calc(42px + 3 * 100vw / 60);
}

@media screen and (max-width: 1280px) {
  .content__cards {
    margin-bottom: 66px;
  }
}

@media screen and (min-width: 320px){
  .content__cards{
    margin-bottom: 48px;
  }
}
