.profile__edit-button {
  width: calc(16px + 100vw / 160);
  height: calc(16px + 100vw / 160);
  border: 1px solid #FFFFFF;
  background-image: url('../../../images/pensil.svg');
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-position: center;
  transition: opacity 0.3s linear;
  align-self: center;
  background-color: inherit;
}

@media screen and (min-width: 1280px){
  .profile__edit-button{
    width: 24px;
    height: 24px;
  }
}

@media screen and (max-width: 920px){
  .profile__edit-button{
    width: 18px;
    height: 18px;
    min-width: 18px;
    align-self: center;
  }
}

.profile__edit-button:hover{
  cursor: pointer;
  opacity: 0.6;
}
