.page__header {
  margin: 0 0 40px 0;
}

@media screen and (max-width: 800px) {
  .page__header {
    margin-bottom: 41px;
  }
}

@media screen and (max-width: 320px) {
  .page__header {
    margin-bottom: 42px;
  }
}

